body {
    background-image: url(../images/background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: stretch;
}

h1, h2 {
    font-family: 'El Messiri', sans-serif;
}

.logo {
    padding: 10px;
    width: 250px;
}